@model List<Menu.Models.Dish>
@{
    ViewData["Title"] = "MenuIndex";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6">
                <div class="dish-container">
                    <div class="d-flex justify-content-center">
                        <h4 class="dish-title">@item.Name</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="@item.ImagUrl" class="dish-image" />
                    </div>
                    <div class="d-flex justify-content-center dish-price">
                        @item.Price.ToString("N2") Rupees
                    </div>
                    <div class="d-flex justify-content-center dish-buttons">
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View Dish</a>
                        <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this dish?');" style="display:inline;">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
